.nav-bg{
    background-color: #FAEBD7;
}
.panda-bg{
    background-color: #fceae8;
}
.btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.m-top-bottom{
    margin-top: 6%;
    margin-bottom: 6%;
}
.category h2{
    color: whitesmoke;
}
.category img{
    width: 100px;
}
.cat1{
    background-color: tomato;
}
.cat2{
    background-color: #da70d6;
}
.cat3{
    background-color: #0000ff;
}
.cat1 , .cat2 , .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px  lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.form-bg{
    background-color: #fceae8;
}
footer{
    display: flex;
    margin-top: 40px;
    background-color: #FAEBD7;
    justify-content: center;
    align-items: center;
}